body{
    border:10px solid darkgreen;
    border-style: groove;
    background-image: url("food\ imgwhite.jpg");
    background-size:100%;
    background-repeat:no-repeat;
    margin:0px;
    padding:0px;
    width:98%;
    height:1750px;

}
.cc1{
    display:flex;
    row-gap:10px;
    column-gap:20px;
    justify-content: space-between;
    padding:10px;
}
 




.first{
    width:25%;
    height:100px;
    border:6px solid red;
    border-radius: 40px;
    background-color: black;
    justify-content: space-around;
    display:flex;
    align-items: center;
    color:white;
    font-style: italic;
    font-size: 25px;
    margin:7px;  
    padding:2px; 
    gap:10px;
}

.second{
    width:30%;
    height:50px;
    border:6px solid red;
    border-radius: 40px;
    background-color: black;
    justify-content: space-around;
    color: white;
    display:flex;
    align-items: center;
    font-style: italic;
    font-size:25px;  
    gap:10px;
    margin-left:-250px;
    padding:5px;
}
   


.third{
    width:25%;
    height:100px;
    border:6px solid red;
    border-radius: 40px;
    background-color: black;
    justify-content: space-around;
    display:flex;
    align-items: center;
    color:white;
    font-style: italic;
    font-size: 25px;
    margin-right:0px;  
    padding: 5px; 
    gap:10px;
}


.circle{
    width:350px;
    height:350px;
    background-color: mediumturquoise;
    border:7px solid gray;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    text-decoration: underline;
    text-align: center;
    padding-top:130px;
    padding-left:20px;
    padding-right:10px;
    justify-content:center;

}

.main{
    gap:10px;
    row-gap:10px;
    column-gap:10;
    justify-content: center;
    display:flex;
    align-items: center;
}

.form{
    
    text-align: center;
    border-style: dashed;
    border-color:red;
    border-width: 5px;

}

.menu{
    width:30%;
    height:70px;
    background-color: black;
    border:6px solid red;
    border-radius:30px;
    justify-content: center;
    color:white;
    display:flex;
    align-items:center;
    position :sticky;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    
}

.box{
    display:flex;
    flex-wrap:wrap;
    align-items:spac;

}

.box1{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;

}
.box2{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;
}
.box3{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;
}

.box4{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;

}
.box5{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;


}
.box6{
    width:300px;
    height:250px;
    border-radius: 30px;
    margin-left:30px;
    margin-top:20px;
    padding:20px;
    font-size:25px;
    background-color: aqua;
    border:5px solid green;
    text-align:center;
    font-size: medium;
}

